/* Define color variables */
:root {
    --primary-bg-color: #F5F5F5; /* Primary Background Color - white (used for main content background) */
    --primary-text-color: #333333; /* Primary Text Color - black font for primary background */

    --secondary-bg-color: #6CA0DC; /* Secondary Background Color - blue (used in header, banners, etc.) */
    --secondary-text-color: #FCEDDA; /* Secondary Text Color - light font for secondary background */

    --accent-color: #EE4E34; /* Accent Color - to highlight links or special elements */
}

/* Global Reset & Defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    margin: 0;
    font-family: Aleo, serif;
    font-size: 14pt;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

a {
    text-decoration: underline;
    color: var(--accent-color);
    font-weight: 600;
    transition: color 0.1s ease-in-out;
}

a:hover {
    color: var(--primary-text-color);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: var(--primary-text-color);
    margin: 15px 0;
}

p {
    line-height: 1.6;
    margin: 10px 0;
}

.header {
    width: 100%;
    height: 40px;
    flex-grow: 0;
    flex-shrink: 0;
    position: sticky;
    top: 0;
}

.root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100dvh;
}

.main {
    flex-grow: 1;
    width: 100%;
}

.footer {
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}